RIGHT KNEE REPLACEMENT PREDICTION (CLASSIFICATION)
This notebook is using Google Colab.

In [1]:
!pip install PyDrive

Collecting PyDrive
  Downloading https://files.pythonhosted.org/packages/6b/2d/c8e052ba51099faee0bfe71d84f35bb1576e6910483cad46b840a122ca6c/PyDrive-1.3.1-py2-none-any.whl
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python2.7/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python2.7/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python2.7/dist-packages (from PyDrive) (1.6.7)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python2.7/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.11.3)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python2.7/dist-packages (from oauth2client>=4.0.0->PyDrive) (3.4.2)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python2.7/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.4)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python2.7/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.2)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python2.7/dist-packages (from oauth2client>=4.0.0->PyDrive) (1.11.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python2.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.0)
Installing collected packages: PyDrive
Successfully installed PyDrive-1.3.1

For Google Authentication

In [0]:
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Loading all data files. The id is used to access a specific csv file.

In [3]:

file_list = drive.ListFile({'q': "'11EE617_401bUgWitDTTX9p4BlKVgOoZV' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: mri03.csv, id: 18fWUc3hMDkrEsumY3fQssoiDWyXDlqoG
title: medhist08.csv, id: 1oTFdmFJPxdE8e0WtEnNsRJLTZ6D27ftE
title: mri00.csv, id: 1LaQPbZ6Ma212LjNFDENlPqGwM4rfv3hd
title: allclinical09.csv, id: 1KROq2KrUrVkkXjbmd5fQchuwUT-JnR9T
title: allclinical08.csv, id: 1IXKIkL7xDe_OhcB24glW0u9yrh1RRj5T
title: mri01.csv, id: 193XgbBpcbPqvZ7o7sIBLFwT2Fg5EuUDh
title: mri05.csv, id: 1tySej6R_Rj8kFZsdcSQ7shYxw-EPn7i0
title: mri10.csv, id: 1COFbVBkxdhGCR883IwpCGow8HrfX2s7G
title: mri06.csv, id: 1fow0q3NKKJqIZipchtQP_48ZaOaCirrj
title: jointsx08.csv, id: 1snmo4AoHA3f8qFP3T3TCZ6NMvFUzZYlu
title: jointsx09.csv, id: 11-nSeISmcUl32a8V28ztUejkPq_Yy7_A
title: subjectchar00.csv, id: 1XIYcKc3Xrv7ZpWZqs5H89Kj03hHADcMS
title: subjectchar10.csv, id: 1TcYSMTrkT1YP0Yt7dchRomMYjyCyRUdv
title: measinventory.csv, id: 14DayBR1RHFccclq01-FqcmQWW2Nb0uGj
title: subjectchar06.csv, id: 100o5-SJYvTlZxZk8Wjhv0vv68DI1-_4U
title: physexam03.csv, id: 1amc8Ub4vuCv328qOO9K-mLT4zaWqZ3CZ
title: subjectchar08.csv, id: 1_H8jJAFyDkCgU8ZkUhLBik4ebBCuLVnq
title: physexam00.csv, id: 1L6ifgZTo6MjnuNogtDPqfj3CxdidoHpF
title: physexam01.csv, id: 17RUPAfmqbioZn6IAqxdyHVfx0RtfS3NJ
title: physexam05.csv, id: 1cumdFqAAPepeFlnbEM88N9NZgxGZlJvc
title: physexam10.csv, id: 1bclUJrdnGT6Jhq6mmJ5Y3VRLRwvbizBy
title: physexam06.csv, id: 1Cx_t_JamxfwkXQvo3RN-KBJO9R-6eJf6
title: xray00.csv, id: 1sFBemQBVzf6CEJREwbsYnACghsoARiPM
title: medhist01.csv, id: 1sozDQQcJu3ggb3hnLIizGZjGkA_oTAuW
title: jointsx10.csv, id: 1EdK0O3NGAfxEhxgLjW6KFh2TI0s-uaya
title: allclinical03.csv, id: 12_1Rhjvhcbfn69YOwE9AKeBDhQgCh1GH
title: jointsx05.csv, id: 1eWNZq3CILpohMY5Qns1DCJulg6rPJXhm
title: jointsx11.csv, id: 19zVpRz05wdN1xvZIx-X1PKKiIOS6_IlS
title: medhist00.csv, id: 1Oh4wMF3KQvFqEwZJfzd99mO0UIGSOvzE
title: jointsx07.csv, id: 1tB_5tdIsBQXAbK0NWmFyFu4v6joEn5--
title: acceldatabyday06.csv, id: 15W6KBCUSQsiVN-NtJ6mb-_P2EU06CqpW
title: allclinical01.csv, id: 1_BYIeT8ii4ZxYPPdL9rTPF-e2jrJHq2F
title: jointsx06.csv, id: 1V-E5KAkItXTUyZuHBA4E021s4PT9Rzlx
title: medhist03.csv, id: 1FQk5bA8hw2aYYXaKSSFfuhCyi7Azy2VZ
title: mri08.csv, id: 1slPHvvoT4kTMs0H-FxamCIp-fyW3kmzp
title: xray06.csv, id: 1cwrUeqVsN_244y1FwCqIaOMkXKUvQZ0y
title: allclinical11.csv, id: 1JQ7DaQKL2G2A99bL6KMzkdENcFu4EShU
title: allclinical05.csv, id: 1xH6NXtoFfcZcRZotz4JWOtPfGZDt9AAB
title: allclinical10.csv, id: 1usSbwpSOp8PxNa9oyqU5Uxf4NipREem1
title: nutrition00.csv, id: 1UTVbDLWoYdgpcUpTobz2AlC68SktzC96
title: mif00.csv, id: 1rYOMj9pag76IqBv6S0lklQNnT_WekJWW
title: mif01.csv, id: 17HgKDiiDRxi0D-xEaxZwwS7BN4xkA6M1
title: medhist09.csv, id: 1n91yjUEDChHur_6HEwbXM3f9eyHX3Cg9
title: xray08.csv, id: 1VRT5oNKGBfjCWOBU2CQMGtS-tgvQ3Asw
title: boneancillarystudy.csv, id: 1Br_0moJLeUI4Yk6bUYw7W1qMArKWqh0U
title: mri02.csv, id: 1AM8Pp9dCP5fO8OwWPbYjZCUOC7iYaPI8
title: jointsx03.csv, id: 1oqfvnS4EYGrT9b-1u3WG3o2PkVluR2i-
title: mif03.csv, id: 1V-DTz7R_oNyBPI6jhmmcG3XPkbh8rJCG
title: enrollees.csv, id: 1aeQJM3Ubjk_BVbhg6PpWTgDpYkemCQlp
title: mif02.csv, id: 1VtDxIdPRomJY59w2Xphmr_UfkgUjvE57
title: mif06.csv, id: 1UEhEUfWg2FceJW9HFoaPqSgg7ZhOWCnb
title: medhist06.csv, id: 1_ggnUAoApJ0S8k__eQaJWycPhkciNQNh
title: mif05.csv, id: 1JxI2D-cUN0ROtbP3fivAYO3sKlYEHke2
title: acceldatabyday08.csv, id: 1DcRcM25lq9H7a4IfXtmSwD1KvyvKBB7V
title: nutrition08.csv, id: 1ZMmdsP_n02Rf1GuHaZ20FbAuSjiyuvNt
title: mri04.csv, id: 1I_9ms1HM8jWDQD0LHS3OXxUlcz8jYH98
title: mif04.csv, id: 16XuQzTWc3W9ZdZTLUNixfJYkgDzKYpGC
title: mif10.csv, id: 1E0-IU9noJ2Gy7KP8d-yUARQvHT2cAc9_
title: medhist10.csv, id: 18WGE8aqbrZbbtPw8CzrxZ70CJUoNAPTb
title: biomarkers08.csv, id: 1DWwr9FfgJieHhLPsdrpgW2xWKAhXFhVi
title: subjectchar03.csv, id: 1iSm24WsBmTb1FwU-n9W4xfGQpAF2pwu0
title: subjectchar11.csv, id: 1TV5Xid3_V4y90Mbm9X_ps1AeFhKCGlup
title: physexam08.csv, id: 1jiCd6B_DTl0U2rj910A3RhsXPufP_-4A
title: subjectchar02.csv, id: 1tF6fqVzn46GiEt8KD0W5y9q-QIm7tXMy
title: subjectchar01.csv, id: 1PWxasVHMOuwEvbu1yv_uY-LihkiRcX5O
title: subjectchar04.csv, id: 160RdyjmUYrSHv-AvIkeCtjHeyjUnddgd
title: jointsx01.csv, id: 1lFcHcuYTIv4zZbh2UhBEFWAlJq9XxGSN
title: accelerometry06.csv, id: 1aMButU56feUdjT9l1PfRvGJQyb91E4_n
title: subjectchar05.csv, id: 1kObl2YimjguVzUQ2dJjgtW4w2_oHATpG
title: subjectchar07.csv, id: 1bvYSN9TxjW94xwz0rJEcAwKJz-U1Ple4
title: allclinical06.csv, id: 13oiNJrDI6_2XHZjVTimNStB7Z8lXDi6q
title: biomarkers01.csv, id: 1e8EZXV3p9-rMoNaG1UQqU3rxy43YttIk
title: accelerometry08.csv, id: 17jGHj4qdxQM5cgWhLFf25UowMqpeW4FH
title: biomarkers00.csv, id: 1vDwPHP2vBsgaVUg-xwjrQYrH4TYqeCjY
title: biomarkers03.csv, id: 1_3ZT8d92UrJv4mxD8mpOf1IpB7xoib0P
title: biomarkers06.csv, id: 1M4c__Mq6XJEVMEVQhbF_-09lpfbyJvHQ
title: biomarkers02.csv, id: 1rB7D-1ae7PM8mP_0eZLud1hybqhD9Jab
title: subjectchar09.csv, id: 1M7oa2wFwmz7J_bCjASCpamUxrfRKXvI_
title: biomarkers04.csv, id: 1HrHLhTamB1QLzs3OsYGeTYYPgaE7q94o
title: biomarkers10.csv, id: 11jbzymZ5Knd67eWgwM3Nx6sW8zKvbdQn
title: biomarkers05.csv, id: 1gHgDs8wYY64l1w8arJooY5I-uva6FYID
title: mif08.csv, id: 1G8cLbAXIb2SmnESJKbKQc_SZHVzUrKHB
title: xray01.csv, id: 191EaRy63FmbbhIlNPEx72f6q7Mol3kPR
title: jointsx04.csv, id: 1-HTE2Ol825IwsdLcBpHQwELYuq2MTIex
title: allclinical02.csv, id: 1JsTXu_KVTcpi1qqARwFCwbIWnQ55P9Do
title: nutrition06.csv, id: 1dq-yt7qT3XgNO9lj5TkPTyiLw-9AVwcR
title: biospecimenassays.csv, id: 1X7pMdKIlYq3ICvUxj_41mT7VTiqsfIqJ
title: medhist02.csv, id: 1m9lDB2D6pgygYQI8HD8ZxIgczjhIdjhw
title: xray03.csv, id: 1KttT80vSCzdEXh3M1ac1AKHBFBKvc5Pj
title: allclinical07.csv, id: 119OYPytDmzBzQYRA1xkNq_j0FPvMSD4l
title: outcomes99.csv, id: 1fGKcma3Nwk0ZxQ0XBYb9v7C19jrZgtal
title: nutrition10.csv, id: 1SA0ZQOG8R4u4z7rFrXn8k32U1pJr5SWx
title: nutrition05.csv, id: 1tw4BAqylu_fklmAj5vgN8Iz1pNFeXTha
title: medhist07.csv, id: 1NIi8kbDEYHcE4fZ_hEkmuCUgq4qE4cPu
title: jointsx00.csv, id: 1_cMcRd2Ur1Za5JQ1HoV79hZiu0u6bV39
title: jointsx02.csv, id: 1LgjTg5bT5hZiPYpiq-1MLByGnKl2Fp--
title: nutrition01.csv, id: 1dMcn4-wTFcT2euladU5zMv3TCxixCFs4
title: allclinical04.csv, id: 1BaJa4br4m2nZrlscZKeJSOLRMdux-NMs
title: xray05.csv, id: 1uN3HAzSPGvKcp7ycMbKlho_clt-q7nFy
title: medhist04.csv, id: 1IP58tr9jxrcreisaDJp4DHJ6MQ22Gf9V
title: nutrition03.csv, id: 1BDmtYV112b-c1TeMzCecb5Y1n-aCJRxG
title: xray10.csv, id: 1RoZSL7-L3ayGAGnqYB2-DV3BrO49MGoB
title: medhist05.csv, id: 1b_3cplwc8MhXrxdAdCeEubNFeaE_uUQl
title: medhist11.csv, id: 1L_VXkcpqZFA0FSQLnUwh0GGnXTjh0UQ7

Import pandas and numpy libraries.

In [0]:
import pandas as pd
import numpy as np

Import jointsx01 dataset into pandas dataframe.

In [0]:
jointsx01_downloaded = drive.CreateFile({'id': '1lFcHcuYTIv4zZbh2UhBEFWAlJq9XxGSN'})
jointsx01_downloaded.GetContentFile('jointsx01.csv')

In [29]:
df_jointsx01 = pd.read_csv('jointsx01.csv')
df_jointsx01.rename(index=str, columns={"ID": "id"}, inplace = True)
df_jointsx01.head()

,id,VERSION,V01SF1,V01SF2,V01SF3,V01SF4,V01SF5,V01SF6,V01SF7,V01SF8,...,V01KPACTCV,V01WOMKPL,V01LKP30CV,V01PMRKRCV,V01HSPSS,V01WOMADLL,V01P7RKRCV,V01KPL30CV,V01BPACTCV,V01KSX
0,9000099,1.2.1,1.0,3.0,2.0,5.0,5.0,5.0,5.0,1.0,...,2.0,0.0,1.0,0.0,58.154740,20.0,0.0,1.0,0.0,5.0
1,9000296,1.2.1,2.0,3.0,3.0,5.0,5.0,5.0,5.0,1.0,...,0.0,0.0,0.0,0.0,56.146916,0.0,0.0,0.0,0.0,0.0
2,9000622,1.2.1,2.0,3.0,3.0,5.0,4.0,5.0,5.0,2.0,...,0.0,0.0,0.0,5.0,49.947645,0.0,6.0,0.0,1.0,1.0
3,9000798,1.2.1,3.0,3.0,2.0,3.0,4.0,5.0,5.0,3.0,...,0.0,8.0,1.0,3.0,42.524789,21.0,0.0,1.0,0.0,4.0
4,9001104,1.2.1,2.0,3.0,3.0,5.0,5.0,5.0,5.0,2.0,...,1.0,0.0,0.0,4.0,52.910700,0.0,4.0,0.0,1.0,1.0

Import outcomes99 dataset into pandas dataframe

In [0]:
outcomes99_downloaded = drive.CreateFile({'id': '1fGKcma3Nwk0ZxQ0XBYb9v7C19jrZgtal'})
outcomes99_downloaded.GetContentFile('outcomes99.csv')

In [31]:
df_outcomes99 = pd.read_csv('outcomes99.csv')
df_outcomes99.head()

,id,version,V99RNTCNT,V99ERKDATE,V99ERKFLDT,V99ERKRPCF,V99ERKTLPR,V99ERKTPPR,V99ERKBLRP,V99ERKVSRP,...,V99ELNJSLP,V99ELJSTFP,V99ELJSFW,V99ELJSLW,V99ELNJSLW,V99ELJSTFW,V99EDDCF,V99EDDDATE,V99EDDFLDT,V99EDDVSPR
0,9000099,9,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,6.0,0.0,1.0,NaN,NaN,NaN,NaN
1,9000296,9,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,0.0,0.0,0.0,6.0,0.0,NaN,NaN,NaN,NaN
2,9000622,9,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,2.0,2006-12-06,1.0,1.0
3,9000798,9,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9001104,9,3.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN

Pick participants with confirmed right knee replacements or those who have self reported right knee replacements

In [32]:
#pick participants with confirmed right knee replacements or those who have self reported right knee replacements 

right_knee_replacements = df_outcomes99.loc[(df_outcomes99['V99ERKRPCF'] == 1) | (df_outcomes99['V99ERKRPCF'] == 2) | (df_outcomes99['V99ERKRPCF'] == 3) ]
right_knee_replacements.head()

,id,version,V99RNTCNT,V99ERKDATE,V99ERKFLDT,V99ERKRPCF,V99ERKTLPR,V99ERKTPPR,V99ERKBLRP,V99ERKVSRP,...,V99ELNJSLP,V99ELJSTFP,V99ELJSFW,V99ELJSLW,V99ELNJSLW,V99ELJSTFW,V99EDDCF,V99EDDDATE,V99EDDFLDT,V99EDDVSPR
11,9002430,9,11.0,2010-02-15,1.0,3.0,2.0,2.0,0.0,7.0,...,5.0,2.0,0.0,0.0,6.0,0.0,NaN,NaN,NaN,NaN
70,9014797,9,11.0,2012-01-23,1.0,3.0,1.0,NaN,0.0,10.0,...,0.0,2.0,0.0,0.0,6.0,0.0,NaN,NaN,NaN,NaN
72,9015363,9,11.0,2008-10-15,1.0,3.0,1.0,NaN,0.0,6.0,...,10.0,0.0,0.0,0.0,10.0,0.0,NaN,NaN,NaN,NaN
127,9028418,9,6.0,2008-10-07,1.0,3.0,1.0,NaN,0.0,6.0,...,5.0,0.0,0.0,0.0,5.0,0.0,NaN,NaN,NaN,NaN
137,9030718,9,11.0,2008-11-05,1.0,3.0,1.0,NaN,0.0,6.0,...,5.0,2.0,0.0,0.0,6.0,0.0,NaN,NaN,NaN,NaN

Since, it is a binary classification problem replace the labels with knee replacements with 1 denoting past right knee replacement. The NaN are replaced with 0.

In [33]:
df_outcomes99['V99ERKRPCF'] = df_outcomes99['V99ERKRPCF'].replace([1,2,3],1)
df_outcomes99['V99ERKRPCF'] = df_outcomes99['V99ERKRPCF'].fillna(0)
df_outcomes99.head()

,id,version,V99RNTCNT,V99ERKDATE,V99ERKFLDT,V99ERKRPCF,V99ERKTLPR,V99ERKTPPR,V99ERKBLRP,V99ERKVSRP,...,V99ELNJSLP,V99ELJSTFP,V99ELJSFW,V99ELJSLW,V99ELNJSLW,V99ELJSTFW,V99EDDCF,V99EDDDATE,V99EDDFLDT,V99EDDVSPR
0,9000099,9,11.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,0.0,1.0,1.0,6.0,0.0,1.0,NaN,NaN,NaN,NaN
1,9000296,9,11.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,6.0,0.0,0.0,0.0,6.0,0.0,NaN,NaN,NaN,NaN
2,9000622,9,1.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,2.0,2006-12-06,1.0,1.0
3,9000798,9,11.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9001104,9,3.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN

Filter only the id and right knee replacement columns from the outcomes dataframe.

In [34]:
right_knee_replacements_outcome = df_outcomes99.filter(['id','V99ERKRPCF'], axis=1)
right_knee_replacements_outcome.head()

        id  V99ERKRPCF
0  9000099         0.0
1  9000296         0.0
2  9000622         0.0
3  9000798         0.0
4  9001104         0.0

Merge the jointx01 dataframe with right knee replacements outcome dataset. The id is used as the key.

In [35]:
joints_merged_right_knee = df_jointsx01.merge(right_knee_replacements_outcome, 'left', 'id')
joints_merged_right_knee.head()

,id,VERSION,V01SF1,V01SF2,V01SF3,V01SF4,V01SF5,V01SF6,V01SF7,V01SF8,...,V01WOMKPL,V01LKP30CV,V01PMRKRCV,V01HSPSS,V01WOMADLL,V01P7RKRCV,V01KPL30CV,V01BPACTCV,V01KSX,V99ERKRPCF
0,9000099,1.2.1,1.0,3.0,2.0,5.0,5.0,5.0,5.0,1.0,...,0.0,1.0,0.0,58.154740,20.0,0.0,1.0,0.0,5.0,0.0
1,9000296,1.2.1,2.0,3.0,3.0,5.0,5.0,5.0,5.0,1.0,...,0.0,0.0,0.0,56.146916,0.0,0.0,0.0,0.0,0.0,0.0
2,9000622,1.2.1,2.0,3.0,3.0,5.0,4.0,5.0,5.0,2.0,...,0.0,0.0,5.0,49.947645,0.0,6.0,0.0,1.0,1.0,0.0
3,9000798,1.2.1,3.0,3.0,2.0,3.0,4.0,5.0,5.0,3.0,...,8.0,1.0,3.0,42.524789,21.0,0.0,1.0,0.0,4.0,0.0
4,9001104,1.2.1,2.0,3.0,3.0,5.0,5.0,5.0,5.0,2.0,...,0.0,0.0,4.0,52.910700,0.0,4.0,0.0,1.0,1.0,0.0

The columns id and version are dropped as they are not required for training.

In [0]:
joints_merged_right_knee.drop(columns=['id', 'VERSION'], axis =1, inplace = True)

In [37]:
joints_merged_right_knee.head()

,V01SF1,V01SF2,V01SF3,V01SF4,V01SF5,V01SF6,V01SF7,V01SF8,V01SF9,V01SF10,...,V01WOMKPL,V01LKP30CV,V01PMRKRCV,V01HSPSS,V01WOMADLL,V01P7RKRCV,V01KPL30CV,V01BPACTCV,V01KSX,V99ERKRPCF
0,1.0,3.0,2.0,5.0,5.0,5.0,5.0,1.0,3.0,2.0,...,0.0,1.0,0.0,58.154740,20.0,0.0,1.0,0.0,5.0,0.0
1,2.0,3.0,3.0,5.0,5.0,5.0,5.0,1.0,2.0,2.0,...,0.0,0.0,0.0,56.146916,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,3.0,3.0,5.0,4.0,5.0,5.0,2.0,1.0,2.0,...,0.0,0.0,5.0,49.947645,0.0,6.0,0.0,1.0,1.0,0.0
3,3.0,3.0,2.0,3.0,4.0,5.0,5.0,3.0,4.0,2.0,...,8.0,1.0,3.0,42.524789,21.0,0.0,1.0,0.0,4.0,0.0
4,2.0,3.0,3.0,5.0,5.0,5.0,5.0,2.0,2.0,2.0,...,0.0,0.0,4.0,52.910700,0.0,4.0,0.0,1.0,1.0,0.0

Define x and y for training.

In [0]:
#drop the label column which is V99ERKRPCF
X = joints_merged_right_knee.drop(columns = 'V99ERKRPCF')
#fill NaN with 0s
X.fillna(0, inplace = True)
#define y 
y = joints_merged_right_knee['V99ERKRPCF']

Do a train test split

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size=0.3, random_state=42)

In [40]:
X_train.shape

(3357, 167)

Use logistic regression to train model.

In [41]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()
lg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

Predict test data

In [0]:
pred = lg.predict(X_test)

Check accuracy of model.

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.9346768589298123

Load medhist00 into a pandas dataframe

In [0]:
medhist00_downloaded = drive.CreateFile({'id': '1Oh4wMF3KQvFqEwZJfzd99mO0UIGSOvzE'})
medhist00_downloaded.GetContentFile('medhist00.csv')

In [56]:
df_medhist00 = pd.read_csv('medhist00.csv')
df_medhist00.rename(index=str, columns={"ID": "id"}, inplace = True)
df_medhist00.head()

,id,VERSION,P02KPMED,P02KINJ,P02KSURG,P02CNCR3,P02CNC3,P02CNC4,P02CNC13,P02CNC14,...,V00RXSALIC,V00RXSAME,P01RATOTCV,P02CNCOTH,P01RAWE6L,P01HRSRFXO,P01HRSLFXO,P01RAWE6R,V00OTHCAMC,V00OTHCAM
0,9000099,0.2.2,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,9000296,0.2.2,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,9000622,0.2.2,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,9000798,0.2.2,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0,NaN,0.0,NaN,NaN,0.0,0.0,0.0
4,9001104,0.2.2,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0

Merge with outcomes

In [57]:
medhist00_merged_right_knee = df_medhist00.merge(right_knee_replacements_outcome, 'left', 'id')
medhist00_merged_right_knee.head()

,id,VERSION,P02KPMED,P02KINJ,P02KSURG,P02CNCR3,P02CNC3,P02CNC4,P02CNC13,P02CNC14,...,V00RXSAME,P01RATOTCV,P02CNCOTH,P01RAWE6L,P01HRSRFXO,P01HRSLFXO,P01RAWE6R,V00OTHCAMC,V00OTHCAM,V99ERKRPCF
0,9000099,0.2.2,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,9000296,0.2.2,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,9000622,0.2.2,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,9000798,0.2.2,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
4,9001104,0.2.2,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

Drop id and version

In [0]:
medhist00_merged_right_knee.drop(columns=['id', 'VERSION'], axis =1, inplace = True)

In [59]:
medhist00_merged_right_knee.head()

,P02KPMED,P02KINJ,P02KSURG,P02CNCR3,P02CNC3,P02CNC4,P02CNC13,P02CNC14,P02CNC15,P02CNMEL,...,V00RXSAME,P01RATOTCV,P02CNCOTH,P01RAWE6L,P01HRSRFXO,P01HRSLFXO,P01RAWE6R,V00OTHCAMC,V00OTHCAM,V99ERKRPCF
0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

Define x and y.

In [0]:
X = medhist00_merged_right_knee.drop(columns = 'V99ERKRPCF')
X.fillna(0, inplace = True)
y = medhist00_merged_right_knee['V99ERKRPCF']

Train test split

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size=0.3, random_state=42)

Train logistic regression model

In [70]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()
lg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

Predict

In [0]:
pred = lg.predict(X_test)

Accuracy

In [72]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.9298123697011814